body{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background-color: #eef9bf;
    position: relative;
}
header{
    font-size: 56px;
    color: #75b79e;
    margin-top: 40px;    
    text-align: center;
}
.game{
    width: 1057px;    
    margin: 13px auto;    
    display: flex;
    flex-wrap: wrap;    
}
.card{
    width: 117px;
    height: 146px;
    margin: 34px 17px;
    background-color: #99CEA8;
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 5px;
    transition: all 1000ms;
}
.card:hover{
    cursor: pointer;    
}
.card img{
    width: 100px;    
}
.front, .back{
    width: 100px;
    height: 100px;
}
.escondido{
    display: none;  
    transform: rotateY(180deg);
}
.timer{
    position: absolute;
    width: 220px;
    height: 50px;
    background-color: #99CEA8;
    top: 0;
    right: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color:#eef9bf;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
@media (max-width: 1057px){
    .game{
        width: 100%;
        margin: 0 auto;
    }
}
@media (max-width: 425px){
    .game{
        flex-direction: column;                
    }
    .card{
        margin: 34px auto;
    }
}

